body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

h1 {
    font-size: 64px;
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.d-none {
    display: none !important;
}

.n-mark {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invert{
    filter: invert(1);
}

.noLandscape {
    display: none !important;
}

/* ==================== */
.key-description {
    margin-top: 20px;
    /* font-size: 26px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key-description div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.key-description img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* ========== GAME AREA ========== */
#gameContainer {
    width: 720px;
    height: 480px;
    position: relative;
    border-radius: 15px;
}

canvas {
    height: 100%;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 15px;
}

.canvasEndscreen {
    filter: contrast(0.5);
}

#audio {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;

    cursor: pointer;
    z-index: 99;
}

#fullscreen {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;

    cursor: pointer;
    z-index: 1;
}

.intro-outro {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-end_background{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* ========== Start Screen ========== */
.start-btn {
    position: absolute;
    display: flex;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    filter: opacity(0.6);
    cursor: pointer;
}

#infoBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    height: 40px;
    width: 40px;

    border-radius: 50%;
    cursor: pointer;
}



#infoContainer {
    background-image: url('img/pergament-papier.jpg');
    background-size: cover;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    /* font-size: 30px; */
}

#infoContainer h1 {
    margin-top: 0;
}

#infoContainer img {
    width: 30px;
    filter: invert(1);
}

.info_key-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.neg-margin-left {
    margin-left: -13px;
}

.info_key-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info_spacekey {
    padding-right: 82px;
}

.info_spacekey img {
    height: 30px;
    width: 100px !important;
    border-radius: 8px;
}

.info_collectable img{
    width: 40px !important;
    filter: invert(0) !important;
}

.return-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    height: 40px;
    width: 40px;

    cursor: pointer;
}

/* ========== End Screen ========== */
#endScreen {
    position: absolute;
    margin-top: -480px;
}

#win-loseImg {
    position: absolute;
    width: 500px;
    z-index: 2;
}

#outroBtn {
    position: absolute;
    bottom: 50px;
    padding: 5px 25px 5px 25px;
    display: flex;
    justify-content: center;


    font-size: 48px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    z-index: 9;
}

#outroBtn:hover {
    filter: saturate(200%) !important;
    transform: scale(1.1);
}

/* ========== Smartphone ========== */
#mobileControl {
    position: absolute;
    bottom: 10px;
    left: 40px;
    right: 40px;
    display: none; /* display: flex; */
    justify-content: space-between;
    z-index: 999;
}

#mobileControl div {
    display: flex;
    gap: 30px;
}

#mobileControl img {
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

/* === Height === */
@media only screen and (max-height: 680px) {
    #title {
        margin-bottom: 0;
    }
}

@media only screen and (max-height: 640px) {
    #title {
        margin: 0;
    }
}

@media only screen and (max-height: 594px) {
    #title {
        display: none;
    }
}

@media only screen and (max-height: 540px) {
    .key-description {
        display: none;
    }

    canvas {
        border-radius: 0;
    }
}

@media only screen and (max-height: 530px) {
    .key-description {
        display: none;
    }

    #mobileControl {
        display: flex;
    }

    #gameContainer {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    #infoBtn {
        position: fixed;
    }

    #audio {
        position: fixed;
    }

    .return-btn {
        position: fixed;
    }

    .start-end_background {
        border-radius: 0;
    }

    canvas {
        border-radius: 0;
    }

    #infoContainer {
        border-radius: 0;
    }

    #endScreen {
        margin-top: -530px;
    }
}

@media only screen and (max-height: 455px) {
    #endScreen {
        margin-top: -455px;
    }

    #win-loseImg {
        width: 250px;
    }

    #outroBtn {
        bottom: 0;
    }
}

@media only screen and (max-height: 420px) {
    #infoContainer h1 {
        font-size: 32px;
    }

    #infoContainer {
        font-size: 18px;
    }

    .neg-margin-left {
        margin-left: -8px;
    }

    .info_spacekey {
        padding-right: 59px;
    }
}

@media only screen and (max-height: 385px) {
    #endScreen {
        margin-top: -410px;
    }
}

@media only screen and (max-height: 325px) {
    #infoContainer {
        height: 325px;
        overflow-y: scroll;
    }
}

/* === Width === */
@media only screen and (max-width: 720px) {
    #gameContainer {
        height: 100vh;
        border-radius: 0;
    }

    .start-end_background {
        border-radius: 0;
    }
}

@media (max-width: 760px) and (orientation: portrait) {
    .noLandscape {
        position: absolute;
        display: flex;
        font-size: 64px;
    }

    #gameContainer {
        width: 100vw;
    }

    #startScreen {
        display: none;
    }

    #title {
        display: none;
    }

    #audio {
        display: none;
    }

    .key-description {
        display: none;
    }
}
